footer{
    padding: 90px 0 0;
    background: #f7f6fa;
}
.footer__wraper{
    position: relative;
    background: #fff;
    border-radius: 10px;
    margin-top: -237px;
    padding: 30px 70px;
    box-shadow: 0 40px 80px 0 rgb(11 2 55 / 10%);
    justify-content: space-between;
}
.footer__wraper img{
    height: 200px;
    width: auto;
}
.footer__wraper h3{
    font-size: 34px;
    line-height: 44px;
    margin: 52px 0 0 -115px;
    width: 48%;
}
.wraper__btn{
    margin-top: 75px;
    display: inline-block;
    background-color: #5838fc;
    color: #fff;
    height: 50px;
    padding: 13px 28px;
    text-align: center;
    border-radius: 5px;
}
.wraper__btn:hover{
    box-shadow: 0 20px 30px 0 rgb(26 8 119 / 24%);
}
.footer__part2{
    padding-top: 110px;
}
.footer__base{
    width: 33.333333%;
}
.footer__base2{
    width: 25%;
}
.footer__content1{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.footer__internal{
    margin: 0 0 30px;
    position: relative;
    padding-right: 30px;
}
.footer__internal a {
    display: inline-block;
    margin: 0 0 23px;
}
.footer__internal p{
margin-bottom: 33px;
font-size: 15px;
}
.social__icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 42px;
    font-size: 18px;
    margin-right: 2px;
}
.facebook{
    background: #446bb9;
}
.twitter{
    background:#00aced;
}
.youtube{
    background:#f73434;
}
.social__icons a:hover{
    box-shadow: 0 10px 20px 0 rgb(9 111 150 / 30%);
}
.linkedin{
background: #007bb6;
}
.footer__internal h3{
    color: #2c234d;
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    margin: 0 0 20px;
}
.footer__internal ul{
    list-style: none;
}
.footer__internal ul li{
    display: block;
    font-size: 14px;
    color: #76747f;
    font-weight: 600;
    margin-top: 10px;
    line-height: normal;
}
.footer__internal ul li a i{
    margin-right: 10px;
}
.footer__internal ul li a:hover{
    color: #5838fc;
}
.copyright{
    position: relative;
    border-top: 1px solid rgba(14,14,55,.08);
    margin-top: 90px;
    padding: 22px 0;
    text-align: center;
}
.copyright p{
    font-size: 13px;
    line-height: 26px;
    color: #767480;
}
